## Rescue svents data

Script to add sample_vents 'endtime', 're_intub_class' and 'time_on_vent' columns to patient chart events data if forgot include these columns in my sql query!

In [1]:
import pandas as pd

In [2]:
event = "tidalvolume"
data_dir = "../data/feathered/"
export_dir = "../data/feathered/"

datafile = data_dir+event
export_file = export_dir+event

In [3]:
unfeathered_df = pd.read_feather(datafile)

In [4]:
unfeathered_df.columns

Index(['index', 'subject_id', 'hadm_id', 'stay_id', 'charttime', 'storetime',
       'itemid', 'value', 'valuenum', 'valueuom', 'warning'],
      dtype='object')

In [5]:
svents = pd.read_csv('../data/processed/sample_vents.csv')

In [6]:
svents

,hadm_id,endtime,time_on_vent,re_intub_class,subject_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,marital_status,ethnicity,edregtime,edouttime,hospital_expire_flag,hours_to_death
0,28038802,2185-12-20 09:59:00,108.800000,0,18917458,2185-12-15 00:17:00,2185-12-22 17:15:00,NaN,EW EMER.,EMERGENCY ROOM,HOSPICE,Medicaid,ENGLISH,MARRIED,WHITE,2185-12-14 23:05:00,2185-12-15 01:31:00,0,NaN
1,21790335,2140-03-11 13:44:00,33.000000,0,19704964,2140-03-09 14:44:00,2140-03-15 13:00:00,NaN,URGENT,PHYSICIAN REFERRAL,HOME,Other,?,MARRIED,UNABLE TO OBTAIN,NaN,NaN,0,NaN
2,24357541,2177-02-10 14:00:00,659.416667,0,19004463,2176-12-16 18:11:00,2177-02-15 17:00:00,NaN,URGENT,TRANSFER FROM HOSPITAL,REHAB,Medicare,ENGLISH,MARRIED,WHITE,NaN,NaN,0,NaN
3,22188993,2145-11-04 18:40:00,143.666667,0,11538389,2145-10-29 12:46:00,2145-11-09 17:30:00,2145-11-09 17:30:00,EW EMER.,EMERGENCY ROOM,DIED,Medicare,ENGLISH,MARRIED,UNKNOWN,2145-10-29 11:07:00,2145-10-29 14:00:00,1,-118.833333
4,21880799,2134-05-22 17:58:00,54.966667,0,16606203,2134-05-20 09:51:00,2134-05-22 18:00:00,NaN,EW EMER.,EMERGENCY ROOM,CHRONIC/LONG TERM ACUTE CARE,Medicare,?,MARRIED,HISPANIC/LATINO,2134-05-20 06:11:00,2134-05-20 11:15:00,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16399,29960248,2146-12-09 14:23:00,73.466667,1,16691924,2146-11-30 16:09:00,2146-12-17 17:04:00,NaN,DIRECT EMER.,CLINIC REFERRAL,SKILLED NURSING FACILITY,Medicare,ENGLISH,WIDOWED,WHITE,NaN,NaN,0,NaN
16400,29962016,2135-10-30 11:45:00,218.083333,1,16796371,2135-10-21 08:16:00,2135-11-04 13:30:00,NaN,EW EMER.,EMERGENCY ROOM,REHAB,Medicare,ENGLISH,SINGLE,BLACK/AFRICAN AMERICAN,2135-10-21 05:47:00,2135-10-21 09:45:00,0,NaN
16401,29974575,2131-03-03 19:54:00,98.900000,1,10020944,2131-02-27 15:34:00,2131-03-13 17:01:00,NaN,EW EMER.,EMERGENCY ROOM,SKILLED NURSING FACILITY,Medicare,ENGLISH,NaN,UNKNOWN,2131-02-27 13:16:00,2131-02-27 16:40:00,0,NaN
16402,29987115,2148-02-19 10:00:00,44.000000,1,19652570,2148-02-16 17:42:00,2148-02-20 19:00:00,2148-02-20 19:00:00,URGENT,TRANSFER FROM HOSPITAL,DIED,Other,ENGLISH,NaN,UNKNOWN,NaN,NaN,1,-33.000000
16403,29995768,2178-05-17 21:57:00,26.950000,1,19181803,2178-05-16 18:46:00,2178-05-17 16:15:00,NaN,EW EMER.,EMERGENCY ROOM,DIED,Other,ENGLISH,MARRIED,WHITE,2178-05-16 14:43:00,2178-05-16 19:42:00,0,NaN

In [7]:
merged_inner = pd.merge(left=unfeathered_df, right=svents, left_on='hadm_id', right_on='hadm_id')

In [8]:
merged_inner.drop(['index'],axis=1,inplace=True)

In [9]:
merged_inner.rename(columns={'subject_id_x':'subject_id'},inplace=True)

In [10]:
merged_inner

,subject_id,hadm_id,stay_id,charttime,storetime,itemid,value,valuenum,valueuom,warning,...,admission_location,discharge_location,insurance,language,marital_status,ethnicity,edregtime,edouttime,hospital_expire_flag,hours_to_death
0,10004235,24181354,30276431,2196-02-24 20:00:00,2196-02-24 19:57:00,224685,596,596,mL,0,...,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Medicaid,ENGLISH,SINGLE,BLACK/AFRICAN AMERICAN,2196-02-24 12:15:00,2196-02-24 17:07:00,0,NaN
1,10004235,24181354,30276431,2196-02-25 01:00:00,2196-02-25 00:56:00,224685,881,881,mL,0,...,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Medicaid,ENGLISH,SINGLE,BLACK/AFRICAN AMERICAN,2196-02-24 12:15:00,2196-02-24 17:07:00,0,NaN
2,10004235,24181354,30276431,2196-02-25 04:00:00,2196-02-25 04:43:00,224685,984,984,mL,0,...,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Medicaid,ENGLISH,SINGLE,BLACK/AFRICAN AMERICAN,2196-02-24 12:15:00,2196-02-24 17:07:00,0,NaN
3,10004235,24181354,30276431,2196-02-25 07:00:00,2196-02-25 07:48:00,224685,924,924,mL,0,...,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Medicaid,ENGLISH,SINGLE,BLACK/AFRICAN AMERICAN,2196-02-24 12:15:00,2196-02-24 17:07:00,0,NaN
4,10004235,24181354,30276431,2196-02-25 11:04:00,2196-02-25 11:14:00,224685,913,913,mL,0,...,TRANSFER FROM HOSPITAL,SKILLED NURSING FACILITY,Medicaid,ENGLISH,SINGLE,BLACK/AFRICAN AMERICAN,2196-02-24 12:15:00,2196-02-24 17:07:00,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676799,19999068,21606769,31096823,2161-08-28 00:00:00,2161-08-28 00:08:00,224685,523,523,mL,0,...,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,ENGLISH,DIVORCED,WHITE,2161-08-24 03:14:00,2161-08-24 05:26:00,0,NaN
676800,19999068,21606769,31096823,2161-08-28 11:00:00,2161-08-28 11:46:00,224685,151,151,mL,0,...,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,ENGLISH,DIVORCED,WHITE,2161-08-24 03:14:00,2161-08-24 05:26:00,0,NaN
676801,19999068,21606769,31096823,2161-08-28 04:00:00,2161-08-28 04:49:00,224685,525,525,mL,0,...,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,ENGLISH,DIVORCED,WHITE,2161-08-24 03:14:00,2161-08-24 05:26:00,0,NaN
676802,19999068,21606769,31096823,2161-08-28 07:00:00,2161-08-28 07:48:00,224685,140,140,mL,0,...,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,ENGLISH,DIVORCED,WHITE,2161-08-24 03:14:00,2161-08-24 05:26:00,0,NaN
676803,19999068,21606769,31096823,2161-08-27 20:00:00,2161-08-27 20:54:00,224685,496,496,mL,0,...,EMERGENCY ROOM,HOME HEALTH CARE,Medicare,ENGLISH,DIVORCED,WHITE,2161-08-24 03:14:00,2161-08-24 05:26:00,0,NaN

In [11]:
to_save = merged_inner[['subject_id', 'hadm_id', 'stay_id', 'charttime', 'storetime',
       'itemid', 'value', 'valuenum', 'valueuom', 'warning','endtime','re_intub_class','time_on_vent']]

In [12]:
to_save

,subject_id,hadm_id,stay_id,charttime,storetime,itemid,value,valuenum,valueuom,warning,endtime,re_intub_class,time_on_vent
0,10004235,24181354,30276431,2196-02-24 20:00:00,2196-02-24 19:57:00,224685,596,596,mL,0,2196-02-27 16:28:00,0,71.600000
1,10004235,24181354,30276431,2196-02-25 01:00:00,2196-02-25 00:56:00,224685,881,881,mL,0,2196-02-27 16:28:00,0,71.600000
2,10004235,24181354,30276431,2196-02-25 04:00:00,2196-02-25 04:43:00,224685,984,984,mL,0,2196-02-27 16:28:00,0,71.600000
3,10004235,24181354,30276431,2196-02-25 07:00:00,2196-02-25 07:48:00,224685,924,924,mL,0,2196-02-27 16:28:00,0,71.600000
4,10004235,24181354,30276431,2196-02-25 11:04:00,2196-02-25 11:14:00,224685,913,913,mL,0,2196-02-27 16:28:00,0,71.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
676799,19999068,21606769,31096823,2161-08-28 00:00:00,2161-08-28 00:08:00,224685,523,523,mL,0,2161-08-28 13:36:00,0,70.016667
676800,19999068,21606769,31096823,2161-08-28 11:00:00,2161-08-28 11:46:00,224685,151,151,mL,0,2161-08-28 13:36:00,0,70.016667
676801,19999068,21606769,31096823,2161-08-28 04:00:00,2161-08-28 04:49:00,224685,525,525,mL,0,2161-08-28 13:36:00,0,70.016667
676802,19999068,21606769,31096823,2161-08-28 07:00:00,2161-08-28 07:48:00,224685,140,140,mL,0,2161-08-28 13:36:00,0,70.016667
676803,19999068,21606769,31096823,2161-08-27 20:00:00,2161-08-27 20:54:00,224685,496,496,mL,0,2161-08-28 13:36:00,0,70.016667

In [13]:
to_save.to_feather(export_file)