In [1]:
import pandas as pd

In [2]:
unpickled_df = pd.read_pickle("../data/processed/pulseox.pkl")

In [3]:
unpickled_df

,subject_id,hadm_id,stay_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
0,10004235,24181354,30276431,2196-02-24 18:00:00,2196-02-24 18:14:00,220277,94,94,%,0
1,10004235,24181354,30276431,2196-02-24 19:00:00,2196-02-24 19:43:00,220277,99,99,%,0
2,10004235,24181354,30276431,2196-02-24 20:00:00,2196-02-24 19:57:00,220277,97,97,%,0
3,10004235,24181354,30276431,2196-02-24 21:00:00,2196-02-24 21:04:00,220277,98,98,%,0
4,10004235,24181354,30276431,2196-02-24 22:00:00,2196-02-24 22:29:00,220277,100,100,%,0
...,...,...,...,...,...,...,...,...,...,...
204175,19999068,21606769,31096823,2161-08-28 08:20:00,2161-08-28 08:20:00,220277,100,100,%,0
204176,19999068,21606769,31096823,2161-08-28 09:00:00,2161-08-28 09:02:00,220277,99,99,%,0
204177,19999068,21606769,31096823,2161-08-28 10:00:00,2161-08-28 10:19:00,220277,100,100,%,0
204178,19999068,21606769,31096823,2161-08-28 11:00:00,2161-08-28 12:36:00,220277,100,100,%,0
204179,19999068,21606769,31096823,2161-08-28 12:00:00,2161-08-28 12:36:00,220277,100,100,%,0

In [6]:
unfeathered_df = pd.read_feather("../data/pickled/pulseox")

In [8]:
unfeathered_df

,index,subject_id,hadm_id,stay_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
0,0,10004235,24181354,30276431,2196-02-24 18:00:00,2196-02-24 18:14:00,220277,94,94,%,0
1,1,10004235,24181354,30276431,2196-02-24 19:00:00,2196-02-24 19:43:00,220277,99,99,%,0
2,2,10004235,24181354,30276431,2196-02-24 20:00:00,2196-02-24 19:57:00,220277,97,97,%,0
3,3,10004235,24181354,30276431,2196-02-24 21:00:00,2196-02-24 21:04:00,220277,98,98,%,0
4,4,10004235,24181354,30276431,2196-02-24 22:00:00,2196-02-24 22:29:00,220277,100,100,%,0
...,...,...,...,...,...,...,...,...,...,...,...
3005896,204175,19999068,21606769,31096823,2161-08-28 00:00:00,2161-08-28 00:03:00,220277,100,100,%,0
3005897,204176,19999068,21606769,31096823,2161-08-28 01:00:00,2161-08-28 01:30:00,220277,100,100,%,0
3005898,204177,19999068,21606769,31096823,2161-08-28 02:00:00,2161-08-28 03:41:00,220277,99,99,%,0
3005899,204178,19999068,21606769,31096823,2161-08-28 03:00:00,2161-08-28 03:41:00,220277,98,98,%,0
3005900,204179,19999068,21606769,31096823,2161-08-28 04:00:00,2161-08-28 04:10:00,220277,100,100,%,0