### Script for function to pull vitals data

This function loads chart events (specified by user-entered ID) into a dataframe, filters events by ventilataed patients, determines the last reading before extubation, takes the mean of this value for any duplicate readings (happens when multiple sensors used simultanrously) and returns the data as a column in the master dataframe

#### impot useful libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#### user-defined variables that change every time

In [2]:
event = "height"
data_dir = "../data/feathered/"
export_dir = "../data/processed/"

datafile = data_dir+event
mean_export_file = export_dir+event
std_export_file = export_dir+"std_"+event
meanColumns = ['hadm_id',event]
stdColumns = ['hadm_id','std_'+event]

In [3]:
df = pd.read_feather(datafile)
df['valuenum']= pd.to_numeric(df['valuenum'])

In [4]:
# to convert fahrenheit to celcius: (F-32) x 5/9
#df['valuenum'] = np.where(df['itemid']==223761,(df['valuenum']-32)*(5/9),df['valuenum'])

In [ ]:
# convert height in cm to inches- divide by 2.74
df['valuenum'] = np.where(df['itemid']==226730,(df['valuenum']/2.54),df['valuenum'])

In [5]:
df

,index,subject_id,hadm_id,stay_id,charttime,storetime,itemid,value,valuenum,valueuom,warning,endtime,re_intub_class,time_on_vent
0,0,10004235,24181354,30276431,2196-02-24 19:43:00,2196-02-24 19:43:00,226531,279.4,279.4,None,0,2196-02-27 16:28:00,0,71.600000
1,1,10004235,24181354,30276431,2196-02-24 17:15:00,2196-02-24 17:15:00,226531,279.4,279.4,None,0,2196-02-27 16:28:00,0,71.600000
2,2,10035631,29276678,35275147,2116-03-09 17:25:00,2116-03-09 17:25:00,226531,197.1,197.1,None,0,2116-03-09 18:11:00,0,217.983340
3,3,10035631,29276678,35275147,2116-03-09 19:19:00,2116-03-09 19:19:00,226531,197.1,197.1,None,0,2116-03-09 18:11:00,0,217.983340
4,4,10004235,24181354,30276431,2196-02-27 07:30:00,2196-02-27 07:31:00,226531,279.4,279.4,None,0,2196-02-27 16:28:00,0,71.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37605,37605,19970491,29133530,38263194,2132-04-24 21:55:00,2132-04-24 21:56:00,226531,114.8,114.8,None,0,2132-04-28 12:19:00,0,90.316666
37606,37606,19999068,21606769,31096823,2161-08-26 12:24:00,2161-08-26 12:28:00,226531,122.8,122.8,None,0,2161-08-28 13:36:00,0,70.016670
37607,37607,19999068,21606769,31096823,2161-08-24 13:39:00,2161-08-24 13:40:00,226531,122.8,122.8,None,0,2161-08-28 13:36:00,0,70.016670
37608,37608,19999068,21606769,31096823,2161-08-24 05:56:00,2161-08-24 05:56:00,226531,122.8,122.8,None,0,2161-08-28 13:36:00,0,70.016670
37609,37609,19999068,21606769,31096823,2161-08-26 03:35:00,2161-08-26 03:35:00,226531,122.8,122.8,None,0,2161-08-28 13:36:00,0,70.016670

#### Convert times to pandas datetime object, find the time difference between each event and the time of extubation ('endtime') and find the last time an event occurred before extubation

In [6]:
df['endtime'] = pd.to_datetime(df['endtime'])
df['charttime'] = pd.to_datetime(df['charttime'])
df['time_diff']= df['endtime']-df['charttime']

In [7]:
df['timediffhour'] = df['time_diff'] / np.timedelta64(1, 'h') # convert time to hours
df_pre = df.copy()
df_pre = df[df['timediffhour']>0 & (df['timediffhour']<2)]

In [8]:
df_pre['min']=df_pre.groupby('hadm_id')['timediffhour'].transform('min') # find the last reading 
            # time before extubation occured and place in a new channel ('min')

<ipython-input-8-1f0533c03414>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pre['min']=df_pre.groupby('hadm_id')['timediffhour'].transform('min') # find the last reading

In [9]:
last_value_pre = df_pre[df_pre['timediffhour'] == df_pre['min']] 
            # select only rows where 'timediffhour' is the same as the minimum time ('min')

In [10]:
last_value_pre

,index,subject_id,hadm_id,stay_id,charttime,storetime,itemid,value,valuenum,valueuom,warning,endtime,re_intub_class,time_on_vent,time_diff,timediffhour,min
2,2,10035631,29276678,35275147,2116-03-09 17:25:00,2116-03-09 17:25:00,226531,197.1,197.1,None,0,2116-03-09 18:11:00,0,217.983340,0 days 00:46:00,0.766667,0.766667
4,4,10004235,24181354,30276431,2196-02-27 07:30:00,2196-02-27 07:31:00,226531,279.4,279.4,None,0,2196-02-27 16:28:00,0,71.600000,0 days 08:58:00,8.966667,8.966667
6,6,10005348,25239799,31523640,2130-10-27 16:57:00,2130-10-27 16:58:00,226531,151.8,151.8,None,0,2130-10-28 04:35:00,0,11.833333,0 days 11:38:00,11.633333,11.633333
11,11,10035747,27083519,39236053,2126-05-12 11:22:00,2126-05-12 11:22:00,226531,196.2,196.2,None,0,2126-05-15 13:00:00,0,143.000000,3 days 01:38:00,73.633333,73.633333
12,12,10054716,25339060,30370637,2136-05-27 05:24:00,2136-05-27 05:24:00,226531,235.4,235.4,None,0,2136-05-28 13:00:00,0,65.033330,1 days 07:36:00,31.600000,31.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37596,37596,19957847,25782996,30716264,2146-04-02 07:49:00,2146-04-02 07:50:00,226531,165.4,165.4,None,0,2146-04-04 13:31:00,0,84.600000,2 days 05:42:00,53.700000,53.700000
37599,37599,19970491,29133530,38263194,2132-04-25 01:57:00,2132-04-25 02:01:00,226531,114.8,114.8,None,0,2132-04-28 12:19:00,0,90.316666,3 days 10:22:00,82.366667,82.366667
37602,37602,19970491,22119205,30220330,2131-02-12 08:31:00,2131-02-12 08:31:00,226531,159.5,159.5,None,0,2131-02-13 09:17:00,0,48.733334,1 days 00:46:00,24.766667,24.766667
37603,37603,19970491,20897702,32207420,2131-05-11 14:32:00,2131-05-11 14:32:00,226531,159.7,159.7,None,0,2131-05-11 21:22:00,0,25.366667,0 days 06:50:00,6.833333,6.833333
37606,37606,19999068,21606769,31096823,2161-08-26 12:24:00,2161-08-26 12:28:00,226531,122.8,122.8,None,0,2161-08-28 13:36:00,0,70.016670,2 days 01:12:00,49.200000,49.200000

In [11]:
avg_dupValues = last_value_pre.groupby('hadm_id')['valuenum'].mean() # where duplicate values exist,take the mean
meanBP = avg_dupValues.reset_index()
meanBP.columns = (meanColumns)

In [12]:
svents = pd.read_csv(export_dir +'sample_vents.csv')
mean_df = pd.merge(left = svents, right=meanBP, how = 'left', left_on='hadm_id', right_on='hadm_id')

In [13]:
mean_df.to_feather(mean_export_file)

In [14]:
#num_ventilations = last_value_pre['hadm_id'].value_counts()
#svdf = last_value_pre[last_value_pre['hadm_id'].isin(num_ventilations.index[num_ventilations ==2])]
#sns.countplot(svdf['valuenum'])

### Getting variability over last 6 hours

In [15]:
df_var = df.copy()
df_var = df[(df['timediffhour']>0)&(df['timediffhour']<6)]

varBP = df_var.groupby('hadm_id')['valuenum'].std()
varBP = varBP.reset_index()
varBP.columns = (stdColumns)

In [16]:
#plt.hist(merged_inner_var['timediffhour'])

In [17]:
std_df = pd.merge(left = svents, right=varBP, how = 'left', left_on='hadm_id', right_on='hadm_id')

In [18]:
std_df.to_feather(std_export_file)

new_df = pd.merge(left = svents, right=meanBP, how = 'left', left_on='hadm_id', right_on='hadm_id')
new_df

new_df = pd.merge(left = new_df, right=varBP, how = 'left', left_on='hadm_id', right_on='hadm_id')
new_df

new_df.drop(['temp','stdTemp'],axis=1,inplace=True)

new_df.to_csv('feature_table.csv',index= False)