## Script to get clean feature table vefore passing to model

Cleaned feature table saved as 'clean_ft_table.csv'

#### import libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

#### get feature library

In [2]:
df = pd.read_feather('../data/processed/gender')

In [4]:
copd = pd.read_feather('../data/feathered/heartfail')

In [5]:
copd

       hadm_id  seq_num icd_code
0     28913496       17  42832
1     28913496       30  4280
2     28957782       19  4280
3     28957782        4  42832
4     26661707        9  4280
...        ...      ...      ...
5852  24064930        9  I5023
5853  26386964        1  I5043
5854  29258317        3  I5033
5855  25459968        5  I509
5856  27815009        6  I5022

[5857 rows x 3 columns]

In [6]:
df_master = df.copy()

In [7]:
# select only useful columns for master dataframe
df_master=df_master[['hadm_id', 'endtime', 'time_on_vent', 're_intub_class',
                     'gender','admission_type','anchor_age']]

#### load each feature and merge with df_master on hadm_id

In [8]:
# all feature names are the same as the feature column so we can find the name of all features in
# the 'selected_features' directory, load each feature in turn, select only the relevant columns and merge these 
# with df_master on 'hadm_id'
dirList= os.listdir('../data/processed/selected_features')
filename = []

for fname in dirList:
    feature = np.append(filename, fname)
    feature_table = pd.read_feather('../data/processed/selected_features/'+fname)
    feature_columns = feature_table[['hadm_id',fname]]
    df_master = pd.merge(left = df_master, right = feature_columns, 
                     how='left', left_on = 'hadm_id',right_on = 'hadm_id')

In [9]:
df_master

,hadm_id,endtime,time_on_vent,re_intub_class,gender,admission_type,anchor_age,spontrr,heartrate,std_spontrr,...,height,lactic_acid,bnp,hemoglobin,wbg,tidalvolume,temp,std_bloodpressure,pulseox,std_temp
0,28038802,2185-12-20 09:59:00,108.800000,0,M,EW EMER.,71,17.0,87.0,5.560918,...,NaN,0.7,NaN,12.6,6.6,568.0,36.555556,10.830303,88.0,0.274986
1,21790335,2140-03-11 13:44:00,33.000000,0,F,URGENT,34,13.0,78.0,0.447214,...,NaN,2.9,NaN,9.1,10.5,578.0,36.888889,1.923538,92.0,NaN
2,24357541,2177-02-10 14:00:00,659.416667,0,F,URGENT,70,0.0,127.0,11.631239,...,59.027559,0.8,48581.0,8.5,8.4,0.0,37.500000,7.120393,94.0,NaN
3,22188993,2145-11-04 18:40:00,143.666667,0,M,EW EMER.,68,27.0,95.0,0.726483,...,74.007874,1.8,NaN,11.0,5.4,594.0,37.388889,3.669696,98.0,NaN
4,21880799,2134-05-22 17:58:00,54.966667,0,M,EW EMER.,52,24.0,100.0,9.227289,...,66.070866,1.0,NaN,7.8,8.4,500.0,36.555556,NaN,100.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16399,29960248,2146-12-09 14:23:00,73.466667,1,F,DIRECT EMER.,65,13.0,94.0,1.863525,...,61.011811,1.0,NaN,10.3,18.6,519.0,37.055556,3.761299,96.0,NaN
16400,29962016,2135-10-30 11:45:00,218.083333,1,F,EW EMER.,53,17.0,80.0,1.772811,...,64.086614,1.4,NaN,9.0,10.7,308.0,36.888889,12.378938,100.0,NaN
16401,29974575,2131-03-03 19:54:00,98.900000,1,M,EW EMER.,72,21.0,71.0,8.952254,...,70.039370,0.8,NaN,10.0,6.0,447.0,36.888889,296.433466,100.0,NaN
16402,29987115,2148-02-19 10:00:00,44.000000,1,F,URGENT,43,12.0,88.0,4.527693,...,59.921260,1.1,NaN,9.0,6.5,594.0,36.722222,7.949843,99.0,NaN
16403,29995768,2178-05-17 21:57:00,26.950000,1,F,EW EMER.,58,20.0,96.0,7.559289,...,NaN,2.3,125.0,13.0,14.3,519.0,3.000000,9.497368,99.0,NaN

In [10]:
copd_df = pd.merge(left = copd, right=df_master, how = 'left', left_on='hadm_id', right_on='hadm_id')

In [11]:
copd_df

,hadm_id,seq_num,icd_code,endtime,time_on_vent,re_intub_class,gender,admission_type,anchor_age,spontrr,...,height,lactic_acid,bnp,hemoglobin,wbg,tidalvolume,temp,std_bloodpressure,pulseox,std_temp
0,28913496,17,42832,2190-02-07 20:05:00,23.083333,0,F,EW EMER.,69,19.0,...,64.980315,2.1,NaN,7.2,23.3,553.0,36.666667,13.680887,100.0,0.039284
1,28913496,30,4280,2190-02-07 20:05:00,23.083333,0,F,EW EMER.,69,19.0,...,64.980315,2.1,NaN,7.2,23.3,553.0,36.666667,13.680887,100.0,0.039284
2,28957782,19,4280,2185-02-10 18:17:00,258.800000,1,M,EW EMER.,53,20.0,...,64.980315,1.3,NaN,8.3,13.4,411.0,37.444444,8.964436,99.0,NaN
3,28957782,4,42832,2185-02-10 18:17:00,258.800000,1,M,EW EMER.,53,20.0,...,64.980315,1.3,NaN,8.3,13.4,411.0,37.444444,8.964436,99.0,NaN
4,26661707,9,4280,2146-09-19 08:02:00,38.116667,0,M,DIRECT EMER.,46,15.0,...,74.007874,1.4,NaN,9.9,12.7,594.0,36.777778,2.786874,97.0,0.157135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5852,24064930,9,I5023,2112-10-07 10:22:00,17.516667,0,F,URGENT,70,9.0,...,66.964567,1.5,NaN,8.5,13.3,451.0,NaN,NaN,100.0,NaN
5853,26386964,1,I5043,2130-05-18 14:37:00,75.533333,0,M,EW EMER.,91,12.5,...,64.980315,1.0,NaN,9.1,43.1,0.0,37.333333,6.037133,95.0,NaN
5854,29258317,3,I5033,2126-07-25 17:00:00,17.983333,0,M,EW EMER.,87,26.0,...,66.964567,2.6,NaN,6.8,9.5,92.0,37.333333,7.098556,92.0,0.138889
5855,25459968,5,I509,2167-03-01 10:00:00,42.000000,0,M,URGENT,62,14.0,...,NaN,1.8,NaN,12.3,15.4,0.1,37.055556,14.960849,95.0,NaN
5856,27815009,6,I5022,2113-10-26 10:11:00,22.600000,0,M,EW EMER.,64,24.0,...,66.964567,1.1,NaN,11.0,11.3,472.0,37.111111,8.528777,100.0,NaN

#### select only patients that were intubated for longer than 6 hours 

To get rid of all the following warnings, sHould change this to the df.where df.copy together? https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#the-where-method-and-masking


#df6 = df_master[(df_master['time_on_vent']>6)]
df6 = df_master[['hadm_id', 'endtime', 'time_on_vent', 're_intub_class', 'gender',
       'admission_type', 'anchor_age', 'heartrate',
       'weight',  'hco3', 
        'std_pulseox', 'std_heartrate',
       'creatinine', 'std_tidalvolume', 'bun',  'height',
       'tidalvolume', 'temp',
       'std_bloodpressure']]

In [12]:
df6 = copd_df.copy()

In [13]:
df6.columns

Index(['hadm_id', 'seq_num', 'icd_code', 'endtime', 'time_on_vent',
       're_intub_class', 'gender', 'admission_type', 'anchor_age', 'spontrr',
       'heartrate', 'std_spontrr', 'weight', 'sodium', 'abg_po2', 'abg_ph',
       'hco3', 'abg_pco2', 'bloodpressure', 'std_pulseox', 'std_heartrate',
       'vbg_pco2', 'creatinine', 'std_tidalvolume', 'bun', 'vbg_ph', 'height',
       'lactic_acid', 'bnp', 'hemoglobin', 'wbg', 'tidalvolume', 'temp',
       'std_bloodpressure', 'pulseox', 'std_temp'],
      dtype='object')

In [16]:
df6.isnull().sum()

hadm_id                 0
seq_num                 0
icd_code                0
endtime                 0
time_on_vent            0
re_intub_class          0
gender                  0
admission_type          0
anchor_age              0
spontrr                 0
heartrate               0
std_spontrr            25
weight                652
sodium                 21
abg_po2               544
abg_ph                540
hco3                   29
abg_pco2              544
bloodpressure           0
std_pulseox            21
std_heartrate          15
creatinine             25
bun                    25
height               1179
lactic_acid           554
hemoglobin             34
wbg                    37
tidalvolume             7
temp                 1017
std_bloodpressure      27
pulseox                 0
dtype: int64

In [15]:
df6.drop(['std_temp','bnp','vbg_ph', 'std_tidalvolume','vbg_pco2'],axis=1,inplace=True)

In [18]:
df6.dropna(axis = 0,inplace=True)

In [23]:
df6.isnull().sum()

hadm_id              0
seq_num              0
icd_code             0
endtime              0
time_on_vent         0
re_intub_class       0
gender               0
admission_type       0
anchor_age           0
spontrr              0
heartrate            0
std_spontrr          0
weight               0
sodium               0
abg_po2              0
abg_ph               0
hco3                 0
abg_pco2             0
bloodpressure        0
std_pulseox          0
std_heartrate        0
creatinine           0
bun                  0
height               0
lactic_acid          0
hemoglobin           0
wbg                  0
tidalvolume          0
temp                 0
std_bloodpressure    0
pulseox              0
dtype: int64

In [22]:
df6[df6['re_intub_class']==1]

,hadm_id,seq_num,icd_code,endtime,time_on_vent,re_intub_class,gender,admission_type,anchor_age,spontrr,...,creatinine,bun,height,lactic_acid,hemoglobin,wbg,tidalvolume,temp,std_bloodpressure,pulseox
2,28957782,19,4280,2185-02-10 18:17:00,258.800000,1,M,EW EMER.,53,20.0,...,0.6,13.0,64.980315,1.3,8.3,13.4,411.0,37.444444,8.964436,99.0
3,28957782,4,42832,2185-02-10 18:17:00,258.800000,1,M,EW EMER.,53,20.0,...,0.6,13.0,64.980315,1.3,8.3,13.4,411.0,37.444444,8.964436,99.0
23,28592935,11,4280,2176-12-30 10:59:00,45.033333,1,M,EW EMER.,47,17.0,...,0.9,17.0,66.070866,2.2,10.1,12.4,359.0,38.388889,12.932057,93.0
24,28592935,6,42821,2176-12-30 10:59:00,45.033333,1,M,EW EMER.,47,17.0,...,0.9,17.0,66.070866,2.2,10.1,12.4,359.0,38.388889,12.932057,93.0
87,20523455,5,42821,2186-02-15 00:00:00,61.500000,1,F,EW EMER.,78,16.0,...,1.3,42.0,64.980315,1.7,9.2,20.5,372.0,36.333333,2.607681,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5778,22749412,2,I5033,2174-01-31 15:00:00,187.583333,1,M,EW EMER.,84,32.0,...,0.6,26.0,64.980315,0.9,11.2,17.5,252.0,37.222222,3.049590,92.0
5788,24184566,17,I509,2121-03-30 15:26:00,25.600000,1,F,EW EMER.,91,14.0,...,0.6,17.0,59.921260,0.6,7.4,4.2,401.0,36.777778,9.710819,100.0
5794,29855567,3,I5021,2173-01-19 17:35:00,24.083333,1,M,EW EMER.,76,14.0,...,1.9,29.0,64.086614,1.3,14.7,14.4,448.0,37.222222,8.331757,93.0
5821,22991415,5,I5021,2128-04-26 11:00:00,257.333333,1,M,EW EMER.,60,23.0,...,2.5,50.0,66.964567,2.7,13.1,41.1,383.0,36.722222,7.102603,100.0
5850,20947410,4,I5033,2180-11-10 12:35:00,20.716667,1,M,EW EMER.,80,16.5,...,0.9,14.0,68.055118,1.0,8.9,3.9,0.0,36.500000,19.276844,97.0

In [18]:
df6.describe()

,hadm_id,seq_num,time_on_vent,re_intub_class,anchor_age,spontrr,heartrate,std_spontrr,weight,sodium,...,creatinine,bun,height,lactic_acid,hemoglobin,wbg,tidalvolume,temp,std_bloodpressure,pulseox
count,8.680000e+02,868.000000,868.000000,868.000000,868.000000,868.000000,868.000000,868.000000,868.000000,868.00000,...,868.00000,868.000000,868.000000,868.000000,868.000000,868.000000,868.000000,868.000000,868.000000,868.000000
mean,2.510513e+07,12.582949,105.944931,0.104839,67.972350,19.350230,84.235023,4.479268,185.110599,139.81106,...,1.39470,31.175115,66.222075,1153.441129,9.776728,12.026728,454.155968,36.961367,9.443751,97.042627
std,2.818001e+06,6.832738,144.686670,0.306522,10.912113,5.721844,16.876102,2.596809,57.471766,4.75841,...,1.19526,22.444585,4.125442,33942.131223,1.827380,5.412681,164.642146,1.935166,13.180302,2.654982
min,2.000641e+07,1.000000,6.016667,0.000000,36.000000,0.000000,0.000000,0.000000,2.200000,125.00000,...,0.20000,3.000000,53.074803,0.500000,6.500000,0.300000,0.000000,-17.777778,0.547723,86.000000
25%,2.272079e+07,7.000000,22.025000,0.000000,60.000000,15.000000,73.000000,2.625422,146.200000,136.00000,...,0.70000,16.000000,62.996063,1.000000,8.400000,8.000000,355.000000,36.722222,5.085928,95.000000
50%,2.511969e+07,12.000000,56.508333,0.000000,68.000000,19.000000,83.000000,3.876568,177.400000,140.00000,...,1.00000,24.000000,66.070866,1.200000,9.400000,11.300000,442.500000,37.000000,7.299533,97.000000
75%,2.748727e+07,17.000000,127.395833,0.000000,76.000000,23.000000,94.000000,5.851968,217.800000,143.00000,...,1.60000,40.000000,69.704232,1.625000,10.900000,14.525000,542.000000,37.277778,10.667313,99.000000
max,2.998976e+07,38.000000,1252.066667,1.000000,91.000000,38.000000,147.000000,22.512430,509.300000,156.00000,...,9.40000,134.000000,78.770079,999999.000000,16.400000,43.700000,1278.000000,39.611111,296.433466,100.000000

#### tidal volume should be below 2000, weight shoule be above 80

In [19]:
df6.drop(df6[(df6['tidalvolume'] > 2000)|(df6['tidalvolume'] < 100)].index, inplace = True)

In [20]:
df6.drop(df6[df6['weight'] < 50].index, inplace = True)

In [21]:
df6['admission_type'].value_counts()

EW EMER.                       337
URGENT                         254
OBSERVATION ADMIT              113
SURGICAL SAME DAY ADMISSION     86
DIRECT EMER.                    29
ELECTIVE                        24
Name: admission_type, dtype: int64

In [22]:
df6.drop(df6.loc[df6['admission_type']=='DIRECT OBSERVATION'].index, inplace=True)
df6.drop(df6.loc[df6['admission_type']=='EU OBSERVATION'].index, inplace=True)
df6.drop(df6.loc[df6['admission_type']=='SURGICAL SAME DAY ADMISSION'].index, inplace=True)

In [23]:
df6.reset_index(inplace=True)

In [24]:
df6.drop('index',axis=1,inplace=True)

In [25]:
df6

,hadm_id,seq_num,icd_code,endtime,time_on_vent,re_intub_class,gender,admission_type,anchor_age,spontrr,...,creatinine,bun,height,lactic_acid,hemoglobin,wbg,tidalvolume,temp,std_bloodpressure,pulseox
0,29500472,8,496,2174-06-16 13:44:00,168.400000,0,M,EW EMER.,60,22.0,...,0.7,30.0,72.917323,1.6,8.9,5.9,461.0,36.444444,18.906789,98.0
1,29912012,18,496,2125-04-23 06:58:00,77.400000,0,F,EW EMER.,77,20.0,...,1.6,34.0,66.964567,1.5,9.7,11.2,465.0,37.111111,12.537942,97.0
2,22856743,19,496,2133-03-06 13:25:00,49.250000,1,M,URGENT,73,27.0,...,0.8,37.0,70.039370,2.0,10.8,0.6,533.0,35.666667,13.377308,99.0
3,27323423,13,496,2173-05-03 15:20:00,13.333333,0,F,EW EMER.,38,16.0,...,0.6,6.0,64.980315,0.7,10.8,20.3,474.0,36.666667,14.729891,95.0
4,20109446,19,496,2153-12-05 13:10:00,97.300000,0,F,URGENT,60,33.0,...,1.0,24.0,61.905512,1.5,10.5,17.3,387.0,38.222222,3.386247,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,29341821,9,J441,2185-01-09 13:25:00,84.916667,0,M,EW EMER.,66,18.0,...,1.7,75.0,66.964567,1.7,9.4,8.5,407.0,36.888889,5.913262,100.0
753,22989281,13,J449,2162-02-26 13:20:00,26.000000,0,M,EW EMER.,62,16.0,...,1.5,60.0,74.007874,1.7,7.7,26.4,552.0,36.944444,2.422120,96.0
754,23689276,13,J440,2163-09-16 13:21:00,125.016667,0,F,URGENT,77,15.0,...,1.4,54.0,59.921260,1.1,8.1,15.2,357.0,38.888889,6.534524,99.0
755,27173448,12,J449,2157-10-31 10:18:00,281.300000,0,M,URGENT,69,17.0,...,0.6,32.0,66.070866,0.5,7.6,9.9,764.0,37.000000,4.956477,100.0
756,26216739,23,J449,2143-10-07 08:55:00,84.700000,0,F,OBSERVATION ADMIT,71,24.0,...,1.6,11.0,64.086614,0.8,7.1,15.0,475.0,37.166667,9.373633,100.0

In [26]:
df6.to_feather('../data/processed/clean_copd')

In [27]:
#adm_type=pd.get_dummies(df6['admission_type'],drop_first=True,prefix='adm_type')

don't include ethnicity in model (yet), also don't include admission location in model

In [28]:
#gender =pd.get_dummies(df6['gender'],drop_first=True,prefix = 'gender')

In [29]:
#df_for_model = pd.concat([df6,adm_type,gender],axis=1)

In [30]:
#df_for_model.drop(['hadm_id','admission_type','admission_location','ethnicity','gender'],axis=1,inplace=True)

In [31]:
#df_for_model

In [32]:
#df_for_model.to_csv('clean_ft_table.csv',index=False)